@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #E2136E;
  --color-primary-dark: #b80f58;
  --color-primary-light: #f44b93;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-800);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
